.contenido
  margin-bottom 40px
  justify-content: space-evenly
  container()

.caja
  max-width 430px
  box-shadow()
  &__contenido
    padding 20px 
    background-color color-light
    span
      text-transform uppercase
      color: color-secondary
      font-family: font-2
    h3
      text-transform uppercase
      font-weight normal
      font-family font-2
