.contenido
  margin-bottom 40px
  justify-content: space-evenly
  container()

.caja
  max-width 430px
  box-shadow()
  &__contenido
    padding 20px 
    background-color color-light
    span
      color: color-secondary
      titles(font-2)
    h3
      titles(font-2)
      font-weight normal
