.encabezado--con-filtros
  container()
  h2
    margin-top: 10px
    font-size: 50px
    titles(font-2)
  .filtros
    width: 250px
    height: 75px
    padding 20px
    margin-left auto
    box-shadow()
    span
      titles(font-2)
    a
      margin-left 20px
      font-size 25px
      color: color-primary
