-var title = "Titulo Principal"
-var subtitles = ['Subtitulo 1', 'Subtitulo 2', 'Subtitulo 3']
-var user = ""
-var links = ['Acerca de', 'Noticias', 'Contacto']

mixin box(image, title, content)
  .box 
    .box__image: img(src="../images/"+image, alt="Pug image")
    .box__contents 
      h3= title
      p= content