//colors
@color-primary: #333333;
@color-secondary: #8841da;
@color-tertiary: 012179;
@color-light: #fff;

//fonts
@font-1: 'Lato', sans-serif;
@font-2: 'Oswald', sans-serif;
@font-base: 18px;

*{
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: @font-1;
  line-height: @font-base + 10%;
}

h1,h2,h3 {
	font-family: @font-2;
	text-transform: uppercase;
	margin: 0;
}