extend components/template.pug
block elements
    section.intro
      .intro__image: img(src="../images/pug-image.jpeg", alt="Pug image")
      .intro__contents 
        h2 #{title} 
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          | Non nulla consequuntur ab magnam necessitatibus omnis 
          | deleniti eaque fuga quos. Unde maiores dolor quia 
          | laudantium nulla, nesciunt iure id?
          span Lorem ipsum dolor sit amet consectetur adipisicing.
        a.button Leer más
      
    main.contents 
      each item in subtitles 
        +box('pug-image.jpeg', item, 'Lorem ipsum dolor sit amet')
    

