//fonts
$font-1:'Lato', sans-serif;
$font-2:'Oswald', sans-serif;

//colors
$color-primary: #333333;
$color-secondary: #8841DA;
$color-tertiary: #3f579a;
$color-light: #fff;

//mixins
@mixin box {
  border-radius: 20px;
  color: $color-primary;
  background-color: $color-light;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.50);
}

@mixin titles ($font) {
  @if $font == $font-1 {
    font-family: $font-1;
  } @else {
    font-family: $font-2;
    text-transform: uppercase;
  }
}

//functions
@function get-opacity($color, $opacity) {
  @return rgba($color, $opacity);
}

//loops (se ejecuta automáticamente)
@each $header, $size in (h1: 30px, h2: 25px, h3: 20px){
  #{$header} {
    font-size: $size;
    margin: 0;
  }
}

//reset
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	@include titles($font-1);
}

main {
	display: flex;
	width: 100%;
	height: 100vh;
}